body, html {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.alert {
  display: none;
}